@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-repeat: no-repeat;
	min-height: 2rem;
	border-bottom: 0.15rem solid #212121;
	text-align: center;
}
a {
	font-size: 1.4rem;
}
.menu {
	width: 100%;
	line-height: 2rem;
	font-weight: 00;
}
.menu li {
	font-family: "Special Elite", sans-serif;
	display: inline;
	position: relative;
	padding-left: 1rem;
}
a {
	text-decoration: none;
	color: Black;
}
a:hover {
	border-bottom: 0.1rem solid #212121;
}
/*   */
.main {
	position: relative;
	width: 100%;
	top: 5rem;
	text-align: center;
}
.intro {
	font-family: monospace;
	font-size: 1.2rem;
}


