@import url('https://fonts.googleapis.com/css?family=Special+Elite');html {
	height: 200%;
}body {
	margin: 0;
	background-repeat: no-repeat;
	background: -webkit-gradient(linear,left top, left bottom,from(#67B26F),to(#4ca2cd));
	background: linear-gradient(#67B26F,#4ca2cd);
}.header {
	background-color: black;
	border: 0;
}.logo {
	font-family: 'Special Elite', cursive;
	font-size: 2rem;
}.menu {
	display: inline;
}a {
	color: grey;
	text-decoration: none;
}a:hover {
	color: black;
}.wrapper {
}



