$exampleVar: rgb(120,120,120);

body {
	background-color: yellow;
	columns: 300px 2;
}

.header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: green;
	top: 0;
	left: 0;
}

.logo {
	font-family: 'Special Elite', cursive;
	font-size: 1.8rem;
	color: $exampleVar;
}

ul li {
	font-family: sans-serif;
	font-size: 1rem;
}
