.main {

	&-home {
	position: relative;
	width: 100%;
	top: 5rem;
	padding-right: 200px; 
	padding-left: 200px;
	}

	&-projects {
	position: relative;
	width: 90%;
	top: 5rem;
	text-align: center;
	margin: 0 auto;
	}
}

.text {
		font-family: "lato";
		line-height: 1.8rem;
		font-size: 1rem;

		&-heavy {
			font-weight: 600;
		}

		&-tighter {
			line-height: 0rem;
		}

		&-lighter {
			font-weight: 400;
			font-size: 0.9rem;
		}
}

.secondary-link {
	text-decoration: none;
	font-weight: 600;
}

.contact-list {

	&-li {
	text-decoration: none;
	list-style: none;
	font-family: serif;
	display: inline;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 100%;
	}
}


.projects-block {
	height: 200px;
	background-color: #DAD6D5;
	display: inline;
	float: left;
	width: 30%;
	min-width: 200px;
	left: 10rem;

	&-gutter {
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	&-overlay {
		position: relative;
		top: 100px;
		width: 50%;
		height: 50%;
	}
}