.header {
	background-color: white;
	border: 0;
}

.logo {
	font-family: 'Titillium Web', cursive;
	font-size: 2rem;
	letter-spacing: 0.15rem;

}

.menu {
	display: inline;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: grey;
	text-decoration: underline;
}